html, body, table, tr, td, th, thead, tbody, img, a {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font: 10px 'Arial', sans-serif;
}

    body > table {
        font-size: 1rem;
        border-spacing: 0.2rem;
}

        body > table > thead th {
            font-size: 2rem;
            text-align: left;
            padding-bottom: 0.8rem;
        }

        body > table > tbody td a {
            display: inline-block;
            margin-left: 0.2rem;
            padding: 0.2rem;
        }

        body > table > tbody td img {
            opacity: 1;
            -webkit-transition: opacity, border-radius  1s;
            -moz-transition: opacity, border-radius  1s;
            -ms-transition: opacity, border-radius  1s;
            -o-transition: opacity, border-radius  1s;
            transition: opacity, border-radius  1s;
        }

        body > table > tbody td a:hover img {
            opacity: 0.8;
            border-radius: 50%;
            -webkit-transition: opacity, border-radius  1s;
            -moz-transition: opacity, border-radius  1s;
            -ms-transition: opacity, border-radius  1s;
            -o-transition: opacity, border-radius  1s;
            transition: opacity, border-radius  1s;
        }