html, body, div,
header, h1, h2, h3,
article,
form, input, label, select, option {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input, select, option {
  outline: none;
  border: none; }

label {
  display: block;
  cursor: pointer; }

html {
  font: 10px 'Tahoma', 'Helvetica', sans-serif;
  color: #444; }
  html body {
    font-size: 1.3rem;
    background-color: #BFBFBF; }

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem; }

#wrapper {
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  background-color: #EBEBEB;
  padding: 0 3rem;
  box-shadow: 0 0 0.1rem #000; }

.reservation-header {
  padding: 2rem;
  background-color: #F1F1F1; }

.reservation-heading {
  font: 2.8rem 'Helvetica';
  color: #3399FF; }

.row {
  padding: 2rem;
  border-bottom: dashed 0.1rem #CCC;
  border-top: dashed 0.1rem #CCC;
  font-size: 0; }
  .row.search-reservation-area {
    border-bottom: none;
    padding: 3rem 2rem; }
    .row.search-reservation-area .col-sm {
      padding-left: 1.9rem; }

.col {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top; }
  .col.col-lg {
    width: 75%; }
  .col.col-sm {
    width: 25%; }

#search-reservation-form {
  background-color: #FFF;
  font-size: 0;
  padding: 1rem;
  margin-top: 0.5rem; }

.form-hint {
  display: block;
  font-size: 1.6rem; }

.form-input {
  border: solid 0.1rem #CCC;
  border-radius: 0.4rem;
  padding: 1rem; }

#search-reservation-button,
#search-reservation-input {
  vertical-align: top; }

#search-reservation-button {
  width: 15%;
  height: 15%;
  min-width: 1.2rem;
  background: url("../images/search_bttn.png") center center no-repeat transparent;
  background-size: 5rem 5rem;
  cursor: pointer; }
  #search-reservation-button:active {
    background-size: 4.5rem 4.5rem; }

#search-reservation-input {
  width: 85%; }

.text {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #666; }

#request-reservation-form {
  position: relative; }

#request-reservation-form,
#request-reservation-form .row {
  border: none;
  padding: none; }

#request-reservation-form.row .row {
  padding-right: 0; }

.row.request-reservation-area {
  padding: 0;
  padding-bottom: 8rem; }

#request-reservation-form .col-sm {
  padding-right: 2rem; }

#request-reservation-form .row .col-sm {
  padding-right: 0; }

#request-reservation-form .col-sm .form-input {
  margin-top: 2rem;
  width: 100%; }

#select-room,
#check-in.form-input.room-select {
  width: 85%; }

#count-room.form-input.room-count,
#check-in.form-input.room-count {
  margin-top: 0;
  padding-right: 0; }

#request-reservation-form .col-lg .row {
  padding-bottom: 0; }

#book-now-button {
  position: absolute;
  bottom: -5rem;
  right: 2rem;
  padding: 1rem 5rem;
  background-color: #2EA5DF;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #FFF;
  font-weight: bold; }
  #book-now-button:hover {
    background-color: #0F1;
    transition: background-color 2s; }
  #book-now-button:active {
    padding: 0.9rem 4.9rem; }

@media screen and (max-width: 721px) {
  #wrapper {
    word-wrap: break-word; }

  label {
    margin: 1rem 0 1rem 1rem; }

  .row.search-reservation-area,
  .row.request-reservation-area {
    padding-left: 0;
    padding-right: 0; }

  .col {
    display: block;
    padding: 0;
    margin: 0; }
    .col.col-lg, .col.col-sm {
      width: 100%; }

  #request-reservation-form {
    padding-left: 0;
    padding-right: 0; }

  #request-reservation-form .row {
    padding-left: 0;
    padding-right: 0; }

  .row.search-reservation-area .col-sm,
  #request-reservation-form .col-sm,
  #request-reservation-form .col-lg {
    padding: 0; }

  #request-reservation-form .form-hint {
    margin-top: 1rem; }

  #search-reservation-input {
    width: 95%; }

  #search-reservation-button {
    width: 5%; }

  #select-room,
  #check-in.form-input.room-select {
    width: 100%; }

  #book-now-button {
    position: static;
    margin-top: 2rem;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
